<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
    <script>
        function addClient() {
            const clientNameVal = document.getElementById('clientName').value;
            const clientLoginVal = document.getElementById('clientLogin').value;
            const clientAddressVal = document.getElementById('clientAddress').value;
            fetch('api/client', {
                method: 'post',
                headers: {
                  "Content-type": "application/json; charset=UTF-8"
                },
            body: JSON.stringify({name: clientNameVal, login: clientLoginVal, address: clientAddressVal})
            })
            .then(
             function(response) {
                 if (response.status === 201) {
                  location.reload()
                 }
             }
            )
            .catch(function(err) {
              console.log('Fetch Error :-S', err);
           });
        }
    </script>
</head>

<body>
<h4>Добавить клиента</h4>
<input type="text" id="clientName" placeholder="Введите Имя">
<input type="text" id="clientLogin" placeholder="Введите Логин">
<input type="text" id="clientAddress" placeholder="Введите Адрес">
<button onclick="addClient()">Добавить</button>
<style type="text/css">
   TABLE {
    width: 90%;
   }
   TD {
    background: #F6F6F6;
   }


</style>
<h4>Список клиентов</h4>
<table>
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Адрес</td>
    </tr>
    </thead>
    <tbody>
    <#list allUser as item>
    <tr>
        <td>${item.id}</td>
        <td>${item.name}</td>
        <td>${item.login}</td>
        <td>${item.address}</td>
    </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
